.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: var(--primaryBackgroundColor);
  color: var(--primaryTextColor);
}

.home-container {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.title {
  align-self: center;
  font-size: 40px;
  font-family: 'Bradley Hand';
}

.toggle-button {
  align-self: flex-end;
}

.toggle-button-mobile {
  align-self: flex-end;
  margin-bottom: 50px;
}

.text-input-field {
  padding: 24px 12px;
  border-radius: 7px;
  font-size: 24px;
  font-family: monospace;
}

.text-input-field:focus {
  outline: none;
}

.enter-room-button {
  margin-top: 20px;
  padding: 24px 12px;
  font-size: 26px;
  background: #556af4;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 7px;
  font-family: monospace;
}

.share-text {
  margin-top: 100px;
  font-size: 15px;
  text-align: center;
  font-family: monospace;
}

.this {
  color: #556af4;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
