html {
  --primaryBackgroundColor: white;
  --primaryTextColor: black;
}

html.dark {
  --primaryBackgroundColor: #1a202c;
  --primaryTextColor: white;
}

/* @media (prefers-color-scheme: dark) {
  html {
    --primaryBackgroundColor: gray;
    --primaryTextColor: white;
  }
} */
